@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center alert alert-dark" >
        <h1 class="display-4">Employee Leave Tracker </h1>
    </div>
    <div class="jumbotron">
        <h5>Learn about:</h5>
        <ul>
            <li>
                Hi User, This is a .NET Core MVC application using Entity Framework for demo by kaushik
            </li>
        </ul>
    </div>


